html,body
{
    height: 80%;
    width: 99%;
    background-color: black;
}

.container
{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* margin: auto; */
}
.btn
{
    color: white;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: 5px;
    font-size: 25px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    /* outline: 0; */
    border-style:none;

    background-color: rgba(49,49,49,255);
}
.lng
{
    width: 150px;
    height: 70px;
    text-align: left;
    /* padding-left: 10px; */
    border-radius: 100px;
    margin-right: 8px;
    
}

.btn:last-child{
    background-color: rgba(246,153,6,255);

}


.btn:active
{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    
    
    transform: scale(0.98);
}
.wt
{
    color: black;
    background-color: rgba(160,160,160,255)    ;
}

.input
{
    padding: 20px;
    width: 280px;
    height: 50px;
    background-color: rgba(80,80,80,255);
    margin: 2%;
    border-radius: 40px;
    font-size: 30px;
    font-weight: bold;
    border-style: groove;
    border-style: none;
    
}

